<h1>
  Convert <%=@currency1%> to <%=@currency2%>
</h1>

<p>
  1 <%=params.fetch("currency1")%> equals <%= @result %> <%=params.fetch("currency2")%>
</p>

<p>
  Go <a href="/<%=@currency1%>">back</a>.
</p>
